body.gpAdmin #gp_admin_html #ckeditor_wrap {
	width: 240px;
	background: #ffffff;
}

a.cke_button {
	padding: 3px !important;
}

.cke_combo_text {
    padding-left: 5px !important;
}    

.cke_toolgroup {
    margin: 2px 6px 8px 0 !important;
}

.cke_bottom {
    background: none !important;;
}