body.gpAdmin #gp_admin_html #ckeditor_wrap {
	/*width: 220px;*/
	background: #eeeeee;	
}


.cke_combo_button {
	padding: 0 0 0 8px !important;	
}

.cke_combo_open {
	width: 12px !important;
}


.cke_dialog_ui_button{
	width: auto !important;
	padding: 2px 20px !important;
}